In [37]:
import pandas as pd
pd.set_option('display.max_columns', None)
df =pd.read_csv('../data/data_raw.csv')

In [38]:
df.sample(5)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
624,625,B,2022-01-17,1,SPORTS,P1481,Running Shoes,4,"267,36","0,09","973,19",Bank Transfer,Same day,North,68.0,M,Desktop,8,No,Eddddge,Social
1328,1329,B,2022-02-21,0,FASHHION,P1667,Sneakers,0,"137,05","0,22","0,0",NaN,NaN,East,69.0,F,TABLET,17,NaN,Firefoxxxxxx,Email
564,565,A,2022-01-07,0,SPORTS,P1925,Tennis Racket,0,"293,89","0,19","0,0",NaN,NaN,East,66.0,M,TABLET,15,NaN,Firefoxxxxxx,Organic
1871,1872,A,2022-03-03,0,BEAUTY,P1382,Lipstick,0,"52,61","0,08","0,0",NaN,NaN,South,60.0,M,Desktop,27,NaN,Safaaaaari,PAID
1783,1784,B,2022-02-27,1,HOME,P1416,Table,3,"194,31","0,12","512,98",Credit Card,Standard,Central,52.0,Other,Mobile,15,No,Eddddge,PAID

In [30]:
df.shape
print(f"Nuestro conjunto de datos tiene {df.shape[0]} filas y {df.shape[1]} columnas")

Nuestro conjunto de datos tiene 2000 filas y 21 columnas

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User Id           2000 non-null   int64
 1   Group             2000 non-null   object
 2   Visit Date        2000 non-null   object
 3   Conversion        2000 non-null   int64
 4   Product Category  2000 non-null   object
 5   Product Id        2000 non-null   object
 6   Product Name      2000 non-null   object
 7   Quantity          2000 non-null   int64
 8   Price             1960 non-null   object
 9   Discount          1960 non-null   object
 10  Total Value       2000 non-null   object
 11  Payment Method    247 non-null    object
 12  Shipping Method   247 non-null    object
 13  Region            2000 non-null   object
 14  Customer Age      1960 non-null   float64
 15  Customer Gender   2000 non-null   object
 16  Device            2000 non-null   object
 17  Session Duration  2000 non-null   int64
 18  Coupon Used       247 non-null    object
 19  Browser           2000 non-null   object
 20  Referral Source   2000 non-null   object
dtypes: float64(1), int64(4), object(16)
memory usage: 328.3+ KB

In [8]:
df.isnull().sum()

User Id                0
Group                  0
Visit Date             0
Conversion             0
Product Category       0
Product Id             0
Product Name           0
Quantity               0
Price                 40
Discount              40
Total Value            0
Payment Method      1753
Shipping Method     1753
Region                 0
Customer Age          40
Customer Gender        0
Device                 0
Session Duration       0
Coupon Used         1753
Browser                0
Referral Source        0
dtype: int64

In [12]:
round(df.isnull().mean()*100,2)

User Id              0.00
Group                0.00
Visit Date           0.00
Conversion           0.00
Product Category     0.00
Product Id           0.00
Product Name         0.00
Quantity             0.00
Price                2.00
Discount             2.00
Total Value          0.00
Payment Method      87.65
Shipping Method     87.65
Region               0.00
Customer Age         2.00
Customer Gender      0.00
Device               0.00
Session Duration     0.00
Coupon Used         87.65
Browser              0.00
Referral Source      0.00
dtype: float64

In [15]:
df.duplicated().sum()

np.int64(0)

In [20]:
df.select_dtypes(include="object").columns

Index(['Group', 'Visit Date', 'Product Category', 'Product Id', 'Product Name',
       'Price', 'Discount', 'Total Value', 'Payment Method', 'Shipping Method',
       'Region', 'Customer Gender', 'Device', 'Coupon Used', 'Browser',
       'Referral Source'],
      dtype='object')

In [23]:
for col in df.select_dtypes(include="object").columns:
    print(df[col].value_counts())

Group
B    1013
A     987
Name: count, dtype: int64
Visit Date
2022-01-28    35
2022-02-16    34
2022-02-28    32
2022-01-19    31
2022-01-21    31
              ..
2022-01-18    15
2022-03-30    14
2022-03-21    14
2022-02-21    12
2022-01-31    10
Name: count, Length: 90, dtype: int64
Product Category
FASHHION       321
BOOKS          291
HOME           287
SPORTS         282
TOYS           276
ELECTRONICS    275
BEAUTY         268
Name: count, dtype: int64
Product Id
P1782    8
P1416    8
P1798    7
P1252    7
P1386    7
        ..
P1593    1
P1371    1
P1726    1
P1871    1
P1172    1
Name: count, Length: 867, dtype: int64
Product Name
Science Fiction    85
Smartphone         84
Jeans              84
Mystery            82
Table              82
Sofa               82
Sneakers           81
Dress              81
Football           77
T-shirt            75
Action Figure      75
Mascara            74
Doll               73
Tennis Racket      72
Running Shoes      72
Lamp               72
Headphones         72
Perfume            71
Lipstick           69
Novel              69
Board Game         69
Gym Bag            61
Camera             60
Laptop             59
Puzzle             59
Biography          55
Lotion             54
Chair              51
Name: count, dtype: int64
Price
19,99     3
84,13     2
44,32     2
33,92     2
175,2     2
         ..
208,65    1
59,59     1
186,44    1
48,27     1
47,05     1
Name: count, Length: 1887, dtype: int64
Discount
0,08    76
0,21    76
0,27    75
0,03    75
0,13    74
0,01    74
0,25    74
0,19    73
0,22    71
0,29    70
0,17    70
0,1     70
0,16    67
0,24    66
0,12    66
0,14    64
0,02    64
0,11    63
0,04    62
0,2     62
0,07    62
0,23    62
0,09    58
0,26    58
0,05    58
0,28    55
0,15    54
0,06    53
0,18    53
0,0     29
0,3     26
Name: count, dtype: int64
Total Value
0,0       1753
464,89       1
821,73       1
121,72       1
40,47        1
          ...
571,24       1
973,19       1
115,05       1
27,09        1
437,85       1
Name: count, Length: 248, dtype: int64
Payment Method
Bank Transfer       73
Credit Card         67
PayPal              57
Cash on Delivery    50
Name: count, dtype: int64
Shipping Method
Express     90
Same day    82
Standard    75
Name: count, dtype: int64
Region
South      435
East       402
Central    398
North      396
West       369
Name: count, dtype: int64
Customer Gender
F        997
M        915
Other     88
Name: count, dtype: int64
Device
TABLET     696
Mobile     676
Desktop    628
Name: count, dtype: int64
Coupon Used
No     132
Yes    115
Name: count, dtype: int64
Browser
Ottttther       443
Eddddge         431
Chrooome        411
Firefoxxxxxx    365
Safaaaaari      350
Name: count, dtype: int64
Referral Source
Organic    551
Social     493
Email      482
PAID       474
Name: count, dtype: int64

In [32]:
def eda_preliminar(df):
    display(df.sample(5))
    print(f"Nuestro conjunto de datos tiene {df.shape[0]} filas y {df.shape[1]} columnas")
    df.info()
    df.isnull().sum()
    round(df.isnull().mean()*100,2)
    df.duplicated().sum()
    df.select_dtypes(include="object").columns
    for col in df.select_dtypes(include="object").columns:
        print(df[col].value_counts())

In [35]:
eda_preliminar(df)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
952,953,A,2022-01-07,0,HOME,P1319,Sofa,0,"116,06","0,12","0,0",NaN,NaN,South,52.0,F,Desktop,24,NaN,Ottttther,Social
343,344,A,2022-01-21,0,SPORTS,P1362,Running Shoes,0,"124,75","0,1","0,0",NaN,NaN,Central,45.0,F,TABLET,21,NaN,Chrooome,Social
389,390,B,2022-03-07,0,TOYS,P1986,Action Figure,0,"22,61","0,05","0,0",NaN,NaN,South,67.0,M,Mobile,22,NaN,Eddddge,PAID
1537,1538,B,2022-01-30,0,ELECTRONICS,P1821,Laptop,0,"400,79","0,29","0,0",NaN,NaN,North,19.0,M,Desktop,14,NaN,Ottttther,PAID
262,263,A,2022-02-15,0,FASHHION,P1137,Dress,0,"38,23","0,21","0,0",NaN,NaN,South,28.0,F,TABLET,29,NaN,Eddddge,PAID

Nuestro conjunto de datos tiene 2000 filas y 21 columnas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User Id           2000 non-null   int64
 1   Group             2000 non-null   object
 2   Visit Date        2000 non-null   object
 3   Conversion        2000 non-null   int64
 4   Product Category  2000 non-null   object
 5   Product Id        2000 non-null   object
 6   Product Name      2000 non-null   object
 7   Quantity          2000 non-null   int64
 8   Price             1960 non-null   object
 9   Discount          1960 non-null   object
 10  Total Value       2000 non-null   object
 11  Payment Method    247 non-null    object
 12  Shipping Method   247 non-null    object
 13  Region            2000 non-null   object
 14  Customer Age      1960 non-null   float64
 15  Customer Gender   2000 non-null   object
 16  Device            2000 non-null   object
 17  Session Duration  2000 non-null   int64
 18  Coupon Used       247 non-null    object
 19  Browser           2000 non-null   object
 20  Referral Source   2000 non-null   object
dtypes: float64(1), int64(4), object(16)
memory usage: 328.3+ KB
Group
B    1013
A     987
Name: count, dtype: int64
Visit Date
2022-01-28    35
2022-02-16    34
2022-02-28    32
2022-01-19    31
2022-01-21    31
              ..
2022-01-18    15
2022-03-30    14
2022-03-21    14
2022-02-21    12
2022-01-31    10
Name: count, Length: 90, dtype: int64
Product Category
FASHHION       321
BOOKS          291
HOME           287
SPORTS         282
TOYS           276
ELECTRONICS    275
BEAUTY         268
Name: count, dtype: int64
Product Id
P1782    8
P1416    8
P1798    7
P1252    7
P1386    7
        ..
P1593    1
P1371    1
P1726    1
P1871    1
P1172    1
Name: count, Length: 867, dtype: int64
Product Name
Science Fiction    85
Smartphone         84
Jeans              84
Mystery            82
Table              82
Sofa               82
Sneakers           81
Dress              81
Football           77
T-shirt            75
Action Figure      75
Mascara            74
Doll               73
Tennis Racket      72
Running Shoes      72
Lamp               72
Headphones         72
Perfume            71
Lipstick           69
Novel              69
Board Game         69
Gym Bag            61
Camera             60
Laptop             59
Puzzle             59
Biography          55
Lotion             54
Chair              51
Name: count, dtype: int64
Price
19,99     3
84,13     2
44,32     2
33,92     2
175,2     2
         ..
208,65    1
59,59     1
186,44    1
48,27     1
47,05     1
Name: count, Length: 1887, dtype: int64
Discount
0,08    76
0,21    76
0,27    75
0,03    75
0,13    74
0,01    74
0,25    74
0,19    73
0,22    71
0,29    70
0,17    70
0,1     70
0,16    67
0,24    66
0,12    66
0,14    64
0,02    64
0,11    63
0,04    62
0,2     62
0,07    62
0,23    62
0,09    58
0,26    58
0,05    58
0,28    55
0,15    54
0,06    53
0,18    53
0,0     29
0,3     26
Name: count, dtype: int64
Total Value
0,0       1753
464,89       1
821,73       1
121,72       1
40,47        1
          ...
571,24       1
973,19       1
115,05       1
27,09        1
437,85       1
Name: count, Length: 248, dtype: int64
Payment Method
Bank Transfer       73
Credit Card         67
PayPal              57
Cash on Delivery    50
Name: count, dtype: int64
Shipping Method
Express     90
Same day    82
Standard    75
Name: count, dtype: int64
Region
South      435
East       402
Central    398
North      396
West       369
Name: count, dtype: int64
Customer Gender
F        997
M        915
Other     88
Name: count, dtype: int64
Device
TABLET     696
Mobile     676
Desktop    628
Name: count, dtype: int64
Coupon Used
No     132
Yes    115
Name: count, dtype: int64
Browser
Ottttther       443
Eddddge         431
Chrooome        411
Firefoxxxxxx    365
Safaaaaari      350
Name: count, dtype: int64
Referral Source
Organic    551
Social     493
Email      482
PAID       474
Name: count, dtype: int64