# Cosas a limpiar

- **Visit Date** -> Cambiar a tipo fecha
- **Conversion** -> ???
- **Product Category** -> Cambiar a MINUS
Cambiar FASHHION a FASHION
- **Product Id** -> Cambia a NUMERICO
- **Price** -> Tiene NULOS, Cambiar COMAS por PUNTOS y cambiar tipo FLOAT
- **Discount** -> Tiene NULOS, Cambiar COMAS por PUNTOS y cambiar tipo FLOAT
- **Total Value** -> Cambiar COMAS por PUNTOS y cambiar tipo FLOAT
- **Payment Method** -> Tiene NULOS
Cambiar ESPACIOS por "_"
- **Shipping Method** -> Tiene NULOS
Cambiar ESPACIOS por "_"
- **Customer Age** -> Tiene NULOS
- **Device** -> Cambiar a MINUS
- **Coupon Used** -> Tiene NULOS
- **Browser** -> Cambiar categorias porque estan mal escritas
- **Referrral Source** -> Cambiar categorias porque estan mal escritas
Cambiar a MINUS

In [35]:
import pandas as pd
df_raw = pd.read_csv('../data/data_raw.csv')
df_raw.sample(5)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,...,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
477,478,B,2022-03-25,0,HOME,P1865,Lamp,0,"106,92","0,2",...,NaN,NaN,North,60.0,F,TABLET,9,NaN,Ottttther,PAID
405,406,B,2022-03-31,0,ELECTRONICS,P1993,Laptop,0,"627,92","0,07",...,NaN,NaN,South,25.0,F,Desktop,7,NaN,Eddddge,Social
1888,1889,B,2022-01-03,1,BOOKS,P1690,Novel,3,"22,66","0,17",...,Cash on Delivery,Express,East,29.0,M,Desktop,22,No,Chrooome,Social
1819,1820,A,2022-02-15,0,TOYS,P1580,Action Figure,0,"40,99","0,03",...,NaN,NaN,West,43.0,F,Mobile,7,NaN,Ottttther,Email
148,149,A,2022-02-11,0,BOOKS,P1563,Biography,0,"24,27","0,05",...,NaN,NaN,West,31.0,M,Mobile,25,NaN,Safaaaaari,Email

### COPIA DEL DATAFRAME ORIGINAL ###

In [36]:
df = df_raw.copy()

### CAMBIO NOMBRES DE COLUMNAS ###

In [37]:
df.columns = df.columns.str.replace(' ','_').str.lower()
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,payment_method,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source
789,790,B,2022-02-09,0,FASHHION,P1176,Dress,0,"146,71","0,21",...,NaN,NaN,North,43.0,M,Mobile,2,NaN,Ottttther,Social
938,939,A,2022-01-16,0,FASHHION,P1970,Dress,0,"57,22","0,17",...,NaN,NaN,Central,50.0,F,Mobile,18,NaN,Chrooome,Social
1111,1112,A,2022-01-03,0,TOYS,P1981,Doll,0,"60,08","0,14",...,NaN,NaN,Central,52.0,M,Desktop,22,NaN,Ottttther,Email
1496,1497,B,2022-02-12,0,BEAUTY,P1203,Mascara,0,"35,8","0,29",...,NaN,NaN,East,41.0,M,Desktop,23,NaN,Safaaaaari,PAID
862,863,B,2022-03-27,0,HOME,P1494,Table,0,"224,18","0,18",...,NaN,NaN,South,20.0,F,Mobile,30,NaN,Safaaaaari,Organic

### CAMBIAR VISIT_DATE A FECHAS ###

In [38]:
df['visit_date'] = pd.to_datetime(df['visit_date'], format='%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           2000 non-null   int64
 1   group             2000 non-null   object
 2   visit_date        2000 non-null   datetime64[ns]
 3   conversion        2000 non-null   int64
 4   product_category  2000 non-null   object
 5   product_id        2000 non-null   object
 6   product_name      2000 non-null   object
 7   quantity          2000 non-null   int64
 8   price             1960 non-null   object
 9   discount          1960 non-null   object
 10  total_value       2000 non-null   object
 11  payment_method    247 non-null    object
 12  shipping_method   247 non-null    object
 13  region            2000 non-null   object
 14  customer_age      1960 non-null   float64
 15  customer_gender   2000 non-null   object
 16  device            2000 non-null   object
 17  session_duration  2000 non-null   int64
 18  coupon_used       247 non-null    object
 19  browser           2000 non-null   object
 20  referral_source   2000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(15)
memory usage: 328.3+ KB

### crear una columna nueva ###

In [39]:
df['conversion_str'] = df['conversion'].apply(lambda x: 'yes' if x == 1 else 'no')
df.sample(10)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
1195,1196,B,2022-03-31,0,SPORTS,P1695,Football,0,"225,27","0,03",...,NaN,South,46.0,M,Mobile,10,NaN,Firefoxxxxxx,Social,no
391,392,A,2022-02-03,0,TOYS,P1901,Action Figure,0,"82,74","0,13",...,NaN,South,40.0,F,Desktop,10,NaN,Ottttther,PAID,no
25,26,B,2022-03-23,0,BEAUTY,P1600,Perfume,0,"26,39","0,07",...,NaN,South,63.0,M,TABLET,23,NaN,Firefoxxxxxx,Social,no
1388,1389,B,2022-03-24,0,BEAUTY,P1981,Lipstick,0,NaN,"0,21",...,NaN,South,42.0,M,TABLET,21,NaN,Firefoxxxxxx,Organic,no
982,983,A,2022-01-14,0,TOYS,P1013,Puzzle,0,"84,02","0,3",...,NaN,East,39.0,M,Desktop,23,NaN,Eddddge,Social,no
1902,1903,B,2022-01-16,0,BEAUTY,P1710,Mascara,0,"109,7","0,16",...,NaN,South,41.0,M,Desktop,20,NaN,Ottttther,PAID,no
498,499,B,2022-02-20,0,FASHHION,P1708,T-shirt,0,"65,86","0,01",...,NaN,South,39.0,F,TABLET,20,NaN,Chrooome,PAID,no
1090,1091,B,2022-03-16,0,ELECTRONICS,P1753,Smartphone,0,"622,05","0,16",...,NaN,South,51.0,M,TABLET,4,NaN,Firefoxxxxxx,PAID,no
1639,1640,B,2022-01-22,0,FASHHION,P1948,T-shirt,0,"194,46","0,16",...,NaN,Central,20.0,M,Mobile,26,NaN,Firefoxxxxxx,Email,no
1465,1466,A,2022-03-03,0,BEAUTY,P1915,Lipstick,0,"104,1","0,14",...,NaN,East,34.0,F,Mobile,22,NaN,Safaaaaari,PAID,no

### sacar solo unas columnas ###

In [40]:
df.loc[:,['conversion','conversion_str']]

      conversion conversion_str
0              0             no
1              0             no
2              0             no
3              1            yes
4              0             no
...          ...            ...
1995           0             no
1996           0             no
1997           0             no
1998           0             no
1999           0             no

[2000 rows x 2 columns]

### cambia a MINUSCULAS ###

In [41]:
df['product_category']= df['product_category'].str.lower()

### CAMBIAR FASHHION por FASHION ###

In [42]:
df['product_category']= df['product_category'].str.replace('fashhion','fashion')
df['product_category'].value_counts()

product_category
fashion        321
books          291
home           287
sports         282
toys           276
electronics    275
beauty         268
Name: count, dtype: int64

### cambiar a numero ###

In [69]:
df['product_id']= df['product_id'].str.replace('P','')
df.sample(5)
df['product_id']= df['product_id'].astype('int64')
df.info()

AttributeError: Can only use .str accessor with string values!

In [71]:
df['product_name']= df['product_name'].str.replace(' ','_')
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str,producti_id
48,49,B,2022-02-18,0,toys,1274,Action_Figure,0,"68,33","0,23",...,East,18.0,M,Mobile,12,NaN,Safaaaaari,Organic,no,1274
978,979,A,2022-01-24,0,beauty,1433,Perfume,0,"117,55","0,14",...,West,61.0,F,Desktop,8,NaN,Ottttther,Email,no,1433
1699,1700,B,2022-01-06,0,books,1259,Novel,0,"25,74","0,28",...,Central,35.0,F,Mobile,17,NaN,Ottttther,Organic,no,1259
1332,1333,A,2022-03-04,0,electronics,1885,Laptop,0,"982,86","0,22",...,East,61.0,F,TABLET,26,NaN,Eddddge,Email,no,1885
271,272,B,2022-01-06,0,fashion,1425,Jeans,0,"120,86","0,13",...,East,69.0,F,Mobile,4,NaN,Eddddge,Email,no,1425

In [72]:
def minus (df, col):
    df[col] = df[col].str.lower()

In [73]:
minus(df, 'product_name')

### cambiar comas por puntos y tipo float ###

In [104]:
def comas(df, col):
    df[col] = df[col].str.replace(',','.')
    df[col] = df[col].astype('float64')

In [105]:
comastipo(df, 'price')
df.sample(5)

AttributeError: Can only use .str accessor with string values!

In [106]:
comastipo(df, 'discount')
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str,producti_id
1211,1212,A,2022-02-28,0,books,1210,biography,0,46.96,0.11,...,Central,20.0,F,Desktop,16,NaN,Ottttther,Organic,no,1210
999,1000,A,2022-01-16,0,toys,1850,puzzle,0,5.18,0.02,...,South,67.0,M,TABLET,17,NaN,Chrooome,PAID,no,1850
991,992,B,2022-01-29,0,home,1171,table,0,400.81,0.23,...,North,39.0,F,TABLET,7,NaN,Ottttther,Social,no,1171
1028,1029,A,2022-03-16,0,electronics,1191,laptop,0,263.05,0.13,...,West,69.0,F,Desktop,26,NaN,Firefoxxxxxx,Organic,no,1191
166,167,A,2022-03-11,0,sports,1270,running_shoes,0,258.80,0.24,...,West,19.0,F,Mobile,13,NaN,Firefoxxxxxx,Organic,no,1270

In [107]:
comastipo(df, 'total_value')
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str,producti_id
417,418,A,2022-02-18,0,home,1547,lamp,0,53.86,0.05,...,South,39.0,F,Mobile,22,NaN,Chrooome,Organic,no,1547
589,590,A,2022-03-06,0,beauty,1842,mascara,0,88.51,0.06,...,South,22.0,M,Mobile,27,NaN,Ottttther,PAID,no,1842
1385,1386,A,2022-01-06,0,toys,1725,puzzle,0,89.38,0.29,...,North,28.0,M,Desktop,22,NaN,Safaaaaari,Email,no,1725
300,301,A,2022-02-14,0,electronics,1167,headphones,0,849.45,0.08,...,West,52.0,F,TABLET,6,NaN,Ottttther,Social,no,1167
543,544,B,2022-03-01,0,beauty,1939,perfume,0,35.13,0.08,...,North,49.0,F,TABLET,8,NaN,Ottttther,Social,no,1939

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           2000 non-null   int64
 1   group             2000 non-null   object
 2   visit_date        2000 non-null   datetime64[ns]
 3   conversion        2000 non-null   int64
 4   product_category  2000 non-null   object
 5   product_id        2000 non-null   int64
 6   product_name      2000 non-null   object
 7   quantity          2000 non-null   int64
 8   price             1960 non-null   float64
 9   discount          1960 non-null   float64
 10  total_value       2000 non-null   float64
 11  payment_method    247 non-null    object
 12  shipping_method   247 non-null    object
 13  region            2000 non-null   object
 14  customer_age      1960 non-null   float64
 15  customer_gender   2000 non-null   object
 16  device            2000 non-null   object
 17  session_duration  2000 non-null   int64
 18  coupon_used       247 non-null    object
 19  browser           2000 non-null   object
 20  referral_source   2000 non-null   object
 21  conversion_str    2000 non-null   object
 22  producti_id       2000 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(12)
memory usage: 359.5+ KB

### espacios por guiones bajos ###

In [109]:
def espaciosguiones(df,col):
    df[col]= df[col].str.replace(' ','_')
    df.sample(5)

In [115]:
espaciosguiones(df,'payment_method')
espaciosguiones(df,'shipping_method')
minus(df,'payment_method')
minus(df,'shipping_method')

minus(df,'device')
minus(df,'referral_source')
minus(df,'browser')

df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str,producti_id
484,485,B,2022-03-23,0,fashion,1098,sneakers,0,100.64,0.10,...,Central,46.0,M,desktop,17,NaN,chrooome,email,no,1098
1555,1556,A,2022-01-06,0,toys,1624,board_game,0,57.70,0.12,...,North,56.0,F,tablet,27,NaN,ottttther,email,no,1624
905,906,B,2022-02-16,1,beauty,1923,mascara,2,67.68,0.21,...,South,24.0,F,desktop,7,No,safaaaaari,social,yes,1923
96,97,B,2022-03-04,0,electronics,1737,camera,0,686.37,0.15,...,South,26.0,M,tablet,28,NaN,eddddge,social,no,1737
1596,1597,A,2022-02-02,0,books,1071,biography,0,39.62,0.24,...,North,45.0,M,mobile,28,NaN,ottttther,organic,no,1071

In [139]:
df['browser']=df_raw['Browser']
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str,producti_id
1529,1530,B,2022-02-22,0,electronics,1758,camera,0,726.05,0.12,...,East,58.0,M,tablet,14,NaN,Eddddge,email,no,1758
1148,1149,B,2022-03-07,0,fashion,1831,sneakers,0,86.62,0.12,...,South,31.0,F,tablet,27,NaN,Ottttther,paid,no,1831
552,553,B,2022-01-23,0,fashion,1138,dress,0,182.75,0.04,...,West,68.0,F,tablet,22,NaN,Eddddge,paid,no,1138
787,788,A,2022-01-16,0,toys,1463,action_figure,0,NaN,0.26,...,South,55.0,F,mobile,24,NaN,Chrooome,social,no,1463
971,972,B,2022-02-13,0,sports,1616,football,0,114.67,0.21,...,South,22.0,M,desktop,23,NaN,Ottttther,organic,no,1616

### map de browers ###

In [140]:
# diccionario de valores

dicc_map = {'Safaaaaari' : 'safari', 
            'Ottttther' : 'other', 
            'Firefoxxxxxx' : 'firefox', 
            'Eddddge' : 'edge', 
            'Chrooome' : 'chrome'}

In [141]:
df['browser'] = df['browser'].map(dicc_map)
df.sample(10)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str,producti_id
1038,1039,A,2022-01-29,1,home,1599,sofa,5,156.62,0.23,...,West,53.0,F,tablet,15,No,chrome,organic,yes,1599
630,631,B,2022-01-13,0,toys,1229,doll,0,73.37,0.09,...,Central,25.0,F,desktop,6,NaN,edge,email,no,1229
1670,1671,A,2022-03-09,1,books,1089,science_fiction,1,49.97,0.02,...,Central,70.0,M,mobile,30,No,edge,organic,yes,1089
1571,1572,A,2022-01-26,0,electronics,1569,smartphone,0,466.89,0.03,...,Central,68.0,M,tablet,18,NaN,firefox,social,no,1569
1529,1530,B,2022-02-22,0,electronics,1758,camera,0,726.05,0.12,...,East,58.0,M,tablet,14,NaN,edge,email,no,1758
199,200,B,2022-02-13,0,books,1605,novel,0,13.64,0.12,...,Central,24.0,M,tablet,17,NaN,other,organic,no,1605
1063,1064,A,2022-01-26,0,toys,1742,puzzle,0,98.10,0.24,...,North,66.0,M,mobile,12,NaN,edge,paid,no,1742
928,929,B,2022-02-10,0,toys,1663,puzzle,0,31.11,0.22,...,South,58.0,F,desktop,13,NaN,edge,social,no,1663
1252,1253,A,2022-01-27,1,beauty,1808,perfume,2,14.50,0.26,...,Central,29.0,F,desktop,27,Yes,firefox,email,yes,1808
1469,1470,B,2022-03-07,0,home,1056,lamp,0,222.26,0.07,...,North,61.0,M,desktop,17,NaN,edge,organic,no,1056