# Cosas a limpiar

- **Visit Date** -> Cambiar a tipo fecha
- **Conversion** -> ???
- **Product Category** -> Cambiar a MINUS
Cambiar FASHHION a FASHION
- **Product Id** -> Cambia a NUMERICO
- **Price** -> Tiene NULOS, Cambiar COMAS por PUNTOS y cambiar tipo FLOAT
- **Discount** -> Tiene NULOS, Cambiar COMAS por PUNTOS y cambiar tipo FLOAT
- **Total Value** -> Cambiar COMAS por PUNTOS y cambiar tipo FLOAT
- **Payment Method** -> Tiene NULOS
Cambiar ESPACIOS por "_"
- **Shipping Method** -> Tiene NULOS
Cambiar ESPACIOS por "_"
- **Customer Age** -> Tiene NULOS
- **Device** -> Cambiar a MINUS
- **Coupon Used** -> Tiene NULOS
- **Browser** -> Cambiar categorias porque estan mal escritas
- **Referrral Source** -> Cambiar categorias porque estan mal escritas
Cambiar a MINUS

In [15]:
import pandas as pd
df_raw = pd.read_csv('../data/data_raw.csv')
df_raw.sample(5)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,...,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
1883,1884,B,2022-01-29,0,ELECTRONICS,P1642,Smartphone,0,"432,63","0,07",...,NaN,NaN,Central,35.0,F,Mobile,12,NaN,Eddddge,Email
1530,1531,A,2022-03-20,0,TOYS,P1472,Board Game,0,"88,9","0,19",...,NaN,NaN,East,19.0,M,TABLET,20,NaN,Eddddge,Organic
879,880,A,2022-01-09,0,SPORTS,P1056,Tennis Racket,0,"82,15","0,25",...,NaN,NaN,North,38.0,F,TABLET,8,NaN,Safaaaaari,Social
1712,1713,B,2022-01-30,0,ELECTRONICS,P1500,Camera,0,"366,69","0,2",...,NaN,NaN,East,36.0,M,Desktop,25,NaN,Firefoxxxxxx,PAID
5,6,A,2022-03-21,0,FASHHION,P1931,Dress,0,"24,73","0,04",...,NaN,NaN,East,56.0,M,TABLET,12,NaN,Firefoxxxxxx,PAID

### COPIA DEL DATAFRAME ORIGINAL ###

In [16]:
df = df_raw.copy()

### CAMBIO NOMBRES DE COLUMNAS ###

In [17]:
df.columns = df.columns.str.replace(' ','_').str.lower()
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,payment_method,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source
670,671,A,2022-01-12,0,BEAUTY,P1681,Perfume,0,"59,59","0,24",...,NaN,NaN,South,51.0,M,TABLET,10,NaN,Chrooome,Social
1054,1055,B,2022-01-15,0,ELECTRONICS,P1427,Headphones,0,"811,91","0,07",...,NaN,NaN,East,46.0,M,Mobile,17,NaN,Firefoxxxxxx,Social
1690,1691,A,2022-01-05,0,HOME,P1974,Table,0,"177,83",NaN,...,NaN,NaN,East,29.0,F,Mobile,24,NaN,Ottttther,Social
26,27,A,2022-02-01,0,HOME,P1665,Table,0,"133,22","0,27",...,NaN,NaN,West,36.0,F,Desktop,7,NaN,Eddddge,Social
1028,1029,A,2022-03-16,0,ELECTRONICS,P1191,Laptop,0,"263,05","0,13",...,NaN,NaN,West,69.0,F,Desktop,26,NaN,Firefoxxxxxx,Organic

### CAMBIAR VISIT_DATE A FECHAS ###

In [18]:
df['visit_date'] = pd.to_datetime(df['visit_date'], format='%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           2000 non-null   int64
 1   group             2000 non-null   object
 2   visit_date        2000 non-null   datetime64[ns]
 3   conversion        2000 non-null   int64
 4   product_category  2000 non-null   object
 5   product_id        2000 non-null   object
 6   product_name      2000 non-null   object
 7   quantity          2000 non-null   int64
 8   price             1960 non-null   object
 9   discount          1960 non-null   object
 10  total_value       2000 non-null   object
 11  payment_method    247 non-null    object
 12  shipping_method   247 non-null    object
 13  region            2000 non-null   object
 14  customer_age      1960 non-null   float64
 15  customer_gender   2000 non-null   object
 16  device            2000 non-null   object
 17  session_duration  2000 non-null   int64
 18  coupon_used       247 non-null    object
 19  browser           2000 non-null   object
 20  referral_source   2000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(15)
memory usage: 328.3+ KB

### crear una columna nueva ###

In [19]:
df['conversion_str'] = df['conversion'].apply(lambda x: 'yes' if x == 1 else 'no')
df.sample(10)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
881,882,B,2022-02-03,0,HOME,P1348,Chair,0,"92,06","0,27",...,NaN,South,20.0,F,Mobile,4,NaN,Eddddge,Email,no
795,796,B,2022-03-07,0,ELECTRONICS,P1288,Smartphone,0,"420,1","0,1",...,NaN,South,59.0,M,Desktop,11,NaN,Ottttther,Social,no
1847,1848,A,2022-03-19,0,FASHHION,P1929,Dress,0,"75,14","0,23",...,NaN,North,43.0,M,Desktop,25,NaN,Firefoxxxxxx,PAID,no
291,292,A,2022-02-17,0,BOOKS,P1109,Mystery,0,"42,79","0,26",...,NaN,North,22.0,F,Mobile,8,NaN,Eddddge,Email,no
715,716,B,2022-03-04,0,FASHHION,P1939,Dress,0,"91,34","0,3",...,NaN,West,43.0,M,Mobile,8,NaN,Firefoxxxxxx,Organic,no
1481,1482,A,2022-02-18,0,SPORTS,P1246,Gym Bag,0,"120,83","0,2",...,NaN,East,20.0,M,Desktop,3,NaN,Firefoxxxxxx,Organic,no
664,665,A,2022-01-19,0,ELECTRONICS,P1417,Headphones,0,"998,88","0,18",...,NaN,West,33.0,F,TABLET,6,NaN,Chrooome,Organic,no
377,378,A,2022-01-29,0,SPORTS,P1836,Tennis Racket,0,"127,17","0,11",...,NaN,Central,50.0,M,Desktop,18,NaN,Ottttther,Organic,no
1425,1426,B,2022-01-27,0,SPORTS,P1382,Running Shoes,0,"56,07","0,19",...,NaN,East,26.0,M,TABLET,20,NaN,Eddddge,PAID,no
1523,1524,A,2022-03-09,0,SPORTS,P1457,Tennis Racket,0,"297,69","0,06",...,NaN,Central,61.0,F,Mobile,28,NaN,Eddddge,Social,no

### sacar solo unas columnas ###

In [20]:
df.loc[:,['conversion','conversion_str']]

      conversion conversion_str
0              0             no
1              0             no
2              0             no
3              1            yes
4              0             no
...          ...            ...
1995           0             no
1996           0             no
1997           0             no
1998           0             no
1999           0             no

[2000 rows x 2 columns]

### cambia a MINUSCULAS ###

In [21]:
df['product_category']= df['product_category'].str.lower()

### CAMBIAR FASHHION por FASHION ###

In [22]:
df['product_category']= df['product_category'].str.replace('fashhion','fashion')
df['product_category'].value_counts()

product_category
fashion        321
books          291
home           287
sports         282
toys           276
electronics    275
beauty         268
Name: count, dtype: int64

### cambiar a numero ###

In [23]:
df['product_id']= df['product_id'].str.replace('P','')
df.sample(5)
df['product_id']= df['product_id'].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           2000 non-null   int64
 1   group             2000 non-null   object
 2   visit_date        2000 non-null   datetime64[ns]
 3   conversion        2000 non-null   int64
 4   product_category  2000 non-null   object
 5   product_id        2000 non-null   int64
 6   product_name      2000 non-null   object
 7   quantity          2000 non-null   int64
 8   price             1960 non-null   object
 9   discount          1960 non-null   object
 10  total_value       2000 non-null   object
 11  payment_method    247 non-null    object
 12  shipping_method   247 non-null    object
 13  region            2000 non-null   object
 14  customer_age      1960 non-null   float64
 15  customer_gender   2000 non-null   object
 16  device            2000 non-null   object
 17  session_duration  2000 non-null   int64
 18  coupon_used       247 non-null    object
 19  browser           2000 non-null   object
 20  referral_source   2000 non-null   object
 21  conversion_str    2000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(5), object(15)
memory usage: 343.9+ KB

In [24]:
df['product_name']= df['product_name'].str.replace(' ','_')
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
1630,1631,B,2022-03-02,0,home,1390,Chair,0,"414,2","0,04",...,NaN,West,26.0,M,TABLET,4,NaN,Eddddge,Email,no
375,376,A,2022-02-07,0,fashion,1994,Jeans,0,"105,51","0,08",...,NaN,East,51.0,Other,Mobile,12,NaN,Ottttther,Social,no
1230,1231,B,2022-02-16,0,electronics,1408,Laptop,0,"958,3","0,25",...,NaN,South,32.0,F,TABLET,21,NaN,Ottttther,Email,no
426,427,A,2022-03-31,0,books,1975,Mystery,0,"18,99","0,28",...,NaN,North,35.0,M,Desktop,20,NaN,Ottttther,Email,no
1556,1557,B,2022-02-17,0,home,1546,Table,0,"86,15","0,14",...,NaN,South,38.0,M,Desktop,27,NaN,Ottttther,PAID,no

In [25]:
def minus (df, col):
    df[col] = df[col].str.lower()

In [26]:
minus(df, 'product_name')

### cambiar comas por puntos y tipo float ###

In [27]:
def comas(df, col):
    df[col] = df[col].str.replace(',','.')
    df[col] = df[col].astype('float64')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           2000 non-null   int64
 1   group             2000 non-null   object
 2   visit_date        2000 non-null   datetime64[ns]
 3   conversion        2000 non-null   int64
 4   product_category  2000 non-null   object
 5   product_id        2000 non-null   int64
 6   product_name      2000 non-null   object
 7   quantity          2000 non-null   int64
 8   price             1960 non-null   object
 9   discount          1960 non-null   object
 10  total_value       2000 non-null   object
 11  payment_method    247 non-null    object
 12  shipping_method   247 non-null    object
 13  region            2000 non-null   object
 14  customer_age      1960 non-null   float64
 15  customer_gender   2000 non-null   object
 16  device            2000 non-null   object
 17  session_duration  2000 non-null   int64
 18  coupon_used       247 non-null    object
 19  browser           2000 non-null   object
 20  referral_source   2000 non-null   object
 21  conversion_str    2000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(5), object(15)
memory usage: 343.9+ KB

### espacios por guiones bajos ###

In [29]:
def espaciosguiones(df,col):
    df[col]= df[col].str.replace(' ','_')
    df.sample(5)

In [30]:
espaciosguiones(df,'payment_method')
espaciosguiones(df,'shipping_method')
minus(df,'payment_method')
minus(df,'shipping_method')

minus(df,'device')
minus(df,'referral_source')
minus(df,'browser')

df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
587,588,A,2022-02-25,0,books,1830,science_fiction,0,"22,83","0,18",...,NaN,West,22.0,M,desktop,3,NaN,firefoxxxxxx,paid,no
1054,1055,B,2022-01-15,0,electronics,1427,headphones,0,"811,91","0,07",...,NaN,East,46.0,M,mobile,17,NaN,firefoxxxxxx,social,no
1815,1816,B,2022-01-15,0,toys,1736,action_figure,0,"67,02","0,03",...,NaN,North,22.0,F,tablet,21,NaN,ottttther,social,no
1996,1997,B,2022-02-23,0,fashion,1474,dress,0,"109,75","0,2",...,NaN,North,58.0,M,mobile,14,NaN,safaaaaari,social,no
733,734,B,2022-01-21,1,books,1767,mystery,3,"30,73","0,1",...,same_day,Central,46.0,M,mobile,6,No,ottttther,organic,yes

In [31]:
df['browser']=df_raw['Browser']
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
1060,1061,B,2022-03-31,1,beauty,1209,lotion,5,"130,8",NaN,...,express,South,59.0,F,mobile,12,Yes,Ottttther,organic,yes
1948,1949,A,2022-03-17,0,sports,1739,tennis_racket,0,"208,03","0,12",...,NaN,North,NaN,M,tablet,9,NaN,Chrooome,organic,no
824,825,B,2022-02-24,1,sports,1734,football,3,"48,5","0,07",...,same_day,East,67.0,F,mobile,12,No,Firefoxxxxxx,organic,yes
527,528,A,2022-03-26,0,beauty,1753,perfume,0,"97,71","0,18",...,NaN,North,52.0,M,desktop,27,NaN,Ottttther,organic,no
463,464,B,2022-03-02,1,toys,1332,puzzle,3,"47,88","0,08",...,express,West,67.0,F,desktop,17,Yes,Firefoxxxxxx,social,yes

### map de browers ###

In [32]:
# diccionario de valores

dicc_map = {'Safaaaaari' : 'safari', 
            'Ottttther' : 'other', 
            'Firefoxxxxxx' : 'firefox', 
            'Eddddge' : 'edge', 
            'Chrooome' : 'chrome'}

In [33]:
df['browser'] = df['browser'].map(dicc_map)
df.sample(10)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
463,464,B,2022-03-02,1,toys,1332,puzzle,3,"47,88","0,08",...,express,West,67.0,F,desktop,17,Yes,firefox,social,yes
237,238,A,2022-01-16,0,toys,1716,action_figure,0,"58,47","0,27",...,NaN,North,45.0,M,desktop,24,NaN,firefox,email,no
1935,1936,B,2022-01-27,1,fashion,1528,sneakers,3,"25,84","0,04",...,standard,West,63.0,M,mobile,24,Yes,safari,paid,yes
1524,1525,A,2022-03-06,0,home,1079,table,0,"370,95","0,18",...,NaN,Central,19.0,F,mobile,30,NaN,safari,paid,no
558,559,B,2022-01-24,0,sports,1849,football,0,"97,47","0,23",...,NaN,East,53.0,F,mobile,4,NaN,edge,paid,no
1463,1464,B,2022-01-08,0,fashion,1843,dress,0,"133,57","0,11",...,NaN,North,60.0,M,tablet,23,NaN,firefox,paid,no
249,250,B,2022-03-28,1,toys,1162,board_game,4,"93,11","0,07",...,express,South,26.0,M,desktop,13,Yes,edge,email,yes
1440,1441,B,2022-03-10,0,books,1600,biography,0,"14,53","0,05",...,NaN,Central,63.0,M,mobile,20,NaN,chrome,paid,no
788,789,A,2022-03-07,0,home,1058,lamp,0,"94,1","0,17",...,NaN,East,35.0,F,desktop,5,NaN,firefox,organic,no
1868,1869,A,2022-03-14,0,books,1684,mystery,0,"31,06","0,09",...,NaN,South,58.0,M,mobile,6,NaN,edge,organic,no

In [34]:
def minusglobal(df):
    for col in df.select_dtypes(include=['object']).columns:
        df[col] = df[col].str.lower()

In [35]:
minusglobal(df)
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
955,956,a,2022-01-03,0,fashion,1305,dress,0,"152,1","0,04",...,NaN,west,NaN,m,desktop,11,NaN,edge,email,no
1234,1235,b,2022-01-05,1,toys,1769,doll,3,"19,0","0,29",...,express,north,41.0,f,desktop,2,yes,other,email,yes
37,38,a,2022-02-26,1,toys,1143,doll,3,"19,99","0,21",...,same_day,west,67.0,f,desktop,17,no,edge,organic,yes
606,607,a,2022-02-19,0,electronics,1995,headphones,0,"396,24","0,08",...,NaN,central,19.0,other,mobile,26,NaN,edge,social,no
1755,1756,b,2022-03-08,0,fashion,1540,dress,0,"120,4","0,02",...,NaN,north,31.0,m,tablet,11,NaN,safari,organic,no

In [36]:
df.to_csv('../data/data_limpios.csv', index=False)