# Cosas a limpiar

- **Visit Date** -> Cambiar a tipo fecha
- **Conversion** -> ???
- **Product Category** -> Cambiar a MINUS
Cambiar FASHHION a FASHION
- **Product Id** -> Cambia a NUMERICO
- **Price** -> Tiene NULOS, Cambiar COMAS por PUNTOS y cambiar tipo FLOAT
- **Discount** -> Tiene NULOS, Cambiar COMAS por PUNTOS y cambiar tipo FLOAT
- **Total Value** -> Cambiar COMAS por PUNTOS y cambiar tipo FLOAT
- **Payment Method** -> Tiene NULOS
Cambiar ESPACIOS por "_"
- **Shipping Method** -> Tiene NULOS
Cambiar ESPACIOS por "_"
- **Customer Age** -> Tiene NULOS
- **Device** -> Cambiar a MINUS
- **Coupon Used** -> Tiene NULOS
- **Browser** -> Cambiar categorias porque estan mal escritas
- **Referrral Source** -> Cambiar categorias porque estan mal escritas
Cambiar a MINUS

In [6]:
import pandas as pd
df_raw = pd.read_csv('../data/data_raw.csv')
df_raw.sample(5)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,...,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
1881,1882,B,2022-01-09,0,BOOKS,P1745,Science Fiction,0,"16,53","0,05",...,NaN,NaN,West,29.0,F,TABLET,8,NaN,Ottttther,PAID
361,362,B,2022-02-16,0,HOME,P1466,Lamp,0,"446,11","0,19",...,NaN,NaN,South,19.0,F,Desktop,14,NaN,Eddddge,Social
1343,1344,B,2022-01-23,0,BEAUTY,P1355,Lipstick,0,"77,55","0,21",...,NaN,NaN,North,58.0,F,Mobile,16,NaN,Firefoxxxxxx,Email
278,279,B,2022-03-03,0,ELECTRONICS,P1633,Laptop,0,"987,72","0,29",...,NaN,NaN,West,33.0,M,Mobile,12,NaN,Chrooome,PAID
1891,1892,A,2022-03-31,1,BOOKS,P1753,Science Fiction,5,"45,26","0,02",...,Credit Card,Standard,West,39.0,F,TABLET,12,Yes,Firefoxxxxxx,Email

### COPIA DEL DATAFRAME ORIGINAL ###

In [12]:
df = df_raw.copy()

### CAMBIO NOMBRES DE COLUMNAS ###

In [13]:
df.columns = df.columns.str.replace(' ','_').str.lower()
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,payment_method,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source
376,377,B,2022-01-20,0,FASHHION,P1440,Sneakers,0,"162,79","0,2",...,NaN,NaN,South,65.0,F,Desktop,28,NaN,Ottttther,PAID
1211,1212,A,2022-02-28,0,BOOKS,P1210,Biography,0,"46,96","0,11",...,NaN,NaN,Central,20.0,F,Desktop,16,NaN,Ottttther,Organic
1463,1464,B,2022-01-08,0,FASHHION,P1843,Dress,0,"133,57","0,11",...,NaN,NaN,North,60.0,M,TABLET,23,NaN,Firefoxxxxxx,PAID
496,497,B,2022-03-15,0,HOME,P1314,Table,0,"495,28","0,25",...,NaN,NaN,South,64.0,M,TABLET,2,NaN,Chrooome,PAID
1322,1323,B,2022-01-11,0,ELECTRONICS,P1614,Laptop,0,"813,54","0,06",...,NaN,NaN,West,48.0,M,Mobile,30,NaN,Ottttther,Social

### CAMBIAR VISIT_DATE A FECHAS ###

In [20]:
df['visit_date'] = pd.to_datetime(df['visit_date'], format='%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           2000 non-null   int64
 1   group             2000 non-null   object
 2   visit_date        2000 non-null   datetime64[ns]
 3   conversion        2000 non-null   int64
 4   product_category  2000 non-null   object
 5   product_id        2000 non-null   object
 6   product_name      2000 non-null   object
 7   quantity          2000 non-null   int64
 8   price             1960 non-null   object
 9   discount          1960 non-null   object
 10  total_value       2000 non-null   object
 11  payment_method    247 non-null    object
 12  shipping_method   247 non-null    object
 13  region            2000 non-null   object
 14  customer_age      1960 non-null   float64
 15  customer_gender   2000 non-null   object
 16  device            2000 non-null   object
 17  session_duration  2000 non-null   int64
 18  coupon_used       247 non-null    object
 19  browser           2000 non-null   object
 20  referral_source   2000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(15)
memory usage: 328.3+ KB

### crear una columna nueva ###

In [26]:
df['conversion_str'] = df['conversion'].apply(lambda x: 'yes' if x == 1 else 'no')
df.sample(10)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
1121,1122,B,2022-01-28,0,ELECTRONICS,P1573,Headphones,0,"971,51","0,14",...,NaN,Central,59.0,F,Desktop,25,NaN,Firefoxxxxxx,PAID,no
243,244,A,2022-02-08,0,BOOKS,P1421,Novel,0,"30,16","0,16",...,NaN,West,66.0,M,Mobile,10,NaN,Ottttther,Email,no
922,923,B,2022-01-12,1,HOME,P1718,Chair,5,"59,29","0,08",...,Standard,South,57.0,F,Mobile,12,No,Ottttther,Social,yes
1491,1492,A,2022-01-24,0,SPORTS,P1064,Football,0,"244,11","0,11",...,NaN,East,54.0,M,Desktop,2,NaN,Eddddge,PAID,no
1901,1902,A,2022-02-23,0,ELECTRONICS,P1897,Smartphone,0,"609,98","0,13",...,NaN,Central,51.0,F,Mobile,11,NaN,Chrooome,Email,no
1397,1398,A,2022-01-19,0,FASHHION,P1324,Sneakers,0,"43,6","0,25",...,NaN,West,25.0,F,Mobile,12,NaN,Eddddge,Social,no
1215,1216,A,2022-03-06,0,TOYS,P1155,Doll,0,"42,03","0,01",...,NaN,West,63.0,F,Desktop,15,NaN,Firefoxxxxxx,Organic,no
275,276,B,2022-02-07,0,BOOKS,P1384,Science Fiction,0,"30,97","0,19",...,NaN,South,51.0,M,TABLET,27,NaN,Ottttther,PAID,no
1762,1763,A,2022-01-13,0,HOME,P1501,Chair,0,"106,95","0,08",...,NaN,East,39.0,M,TABLET,16,NaN,Chrooome,PAID,no
1547,1548,B,2022-03-24,0,ELECTRONICS,P1405,Camera,0,"716,26","0,2",...,NaN,East,30.0,M,TABLET,11,NaN,Chrooome,Email,no

### sacar solo unas columnas ###

In [29]:
df.loc[:,['conversion','conversion_str']]

      conversion conversion_str
0              0             no
1              0             no
2              0             no
3              1            yes
4              0             no
...          ...            ...
1995           0             no
1996           0             no
1997           0             no
1998           0             no
1999           0             no

[2000 rows x 2 columns]

### cambia a MINUSCULAS ###

In [ ]:
df['product_category']= df['product_category'].str.lower()

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
1448,1449,B,2022-02-23,1,books,P1048,Mystery,2,"27,74","0,22",...,Standard,East,26.0,F,Mobile,22,No,Ottttther,Email,yes
1478,1479,B,2022-03-31,0,home,P1416,Table,0,"214,23","0,01",...,NaN,South,63.0,F,Desktop,2,NaN,Safaaaaari,PAID,no
1379,1380,B,2022-03-02,0,beauty,P1458,Perfume,0,"50,32","0,18",...,NaN,East,46.0,F,TABLET,24,NaN,Firefoxxxxxx,Social,no
335,336,A,2022-02-17,0,sports,P1380,Tennis Racket,0,"275,94","0,18",...,NaN,Central,70.0,F,TABLET,12,NaN,Firefoxxxxxx,Social,no
139,140,B,2022-02-05,0,home,P1715,Sofa,0,"121,16","0,2",...,NaN,East,34.0,Other,Mobile,7,NaN,Firefoxxxxxx,Email,no

### CAMBIAR FASHHION por FASHION ###

In [34]:
df['product_category']= df['product_category'].str.replace('fashhion','fashion')
df['product_category'].value_counts()

product_category
fashion        321
books          291
home           287
sports         282
toys           276
electronics    275
beauty         268
Name: count, dtype: int64