In [1]:
import pandas as pd
df_o = pd.read_csv('../data/data_limpios.csv')
df_o.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
1525,1526,a,2022-03-24,0,home,1646,chair,0,"123,81","0,23",...,NaN,west,52.0,f,mobile,19,NaN,safari,email,no
318,319,a,2022-02-21,0,fashion,1463,dress,0,"146,99","0,02",...,NaN,south,25.0,f,mobile,19,NaN,firefox,organic,no
1018,1019,b,2022-02-26,0,beauty,1323,lipstick,0,"24,92","0,07",...,NaN,north,38.0,f,desktop,22,NaN,chrome,paid,no
702,703,a,2022-02-20,1,home,1052,sofa,5,"255,94","0,08",...,standard,east,49.0,f,tablet,9,yes,other,social,yes
187,188,b,2022-03-09,0,toys,1593,board_game,0,"57,9","0,29",...,NaN,north,60.0,m,desktop,11,NaN,edge,organic,no

In [2]:
df =df_o.copy()

In [4]:
df.isnull().mean()*100

user_id              0.00
group                0.00
visit_date           0.00
conversion           0.00
product_category     0.00
product_id           0.00
product_name         0.00
quantity             0.00
price                2.00
discount             2.00
total_value          0.00
payment_method      87.65
shipping_method     87.65
region               0.00
customer_age         2.00
customer_gender      0.00
device               0.00
session_duration     0.00
coupon_used         87.65
browser              0.00
referral_source      0.00
conversion_str       0.00
dtype: float64

In [9]:
df_nulos = df.loc[:, df.isnull().mean()*100 > 0]
df_nulos

       price discount payment_method shipping_method  customer_age coupon_used
0      41,27     0,29            NaN             NaN          64.0         NaN
1      45,45     0,22            NaN             NaN          19.0         NaN
2      64,81     0,08            NaN             NaN          69.0         NaN
3      189,4     0,08    credit_card         express          53.0          no
4      19,82     0,19            NaN             NaN          18.0         NaN
...      ...      ...            ...             ...           ...         ...
1995  177,49      0,2            NaN             NaN          25.0         NaN
1996  109,75      0,2            NaN             NaN          58.0         NaN
1997  236,05     0,15            NaN             NaN          62.0         NaN
1998   22,67     0,11            NaN             NaN          46.0         NaN
1999   47,05     0,22            NaN             NaN          37.0         NaN

[2000 rows x 6 columns]

### nulos categoricas ###

In [34]:
for col in df_nulos.select_dtypes(include='object').columns:
    print(col.upper())
    display(df[col].value_counts())
    print('----------')

PRICE

price
19,99     3
84,13     2
44,32     2
33,92     2
175,2     2
         ..
208,65    1
59,59     1
186,44    1
48,27     1
47,05     1
Name: count, Length: 1887, dtype: int64

----------
DISCOUNT

discount
0,08    76
0,21    76
0,27    75
0,03    75
0,13    74
0,01    74
0,25    74
0,19    73
0,22    71
0,29    70
0,17    70
0,1     70
0,16    67
0,24    66
0,12    66
0,14    64
0,02    64
0,11    63
0,04    62
0,2     62
0,07    62
0,23    62
0,09    58
0,26    58
0,05    58
0,28    55
0,15    54
0,06    53
0,18    53
0,0     29
0,3     26
Name: count, dtype: int64

----------
PAYMENT_METHOD

payment_method
bank_transfer       73
credit_card         67
paypal              57
cash_on_delivery    50
Name: count, dtype: int64

----------
SHIPPING_METHOD

shipping_method
express     90
same_day    82
standard    75
Name: count, dtype: int64

----------
COUPON_USED

coupon_used
no     132
yes    115
Name: count, dtype: int64

----------

In [37]:
df_nocompra = df[df['conversion'] == 0]
df_nocompra.isnull().mean()*100

user_id               0.000000
group                 0.000000
visit_date            0.000000
conversion            0.000000
product_category      0.000000
product_id            0.000000
product_name          0.000000
quantity              0.000000
price                 1.711352
discount              1.939532
total_value           0.000000
payment_method      100.000000
shipping_method     100.000000
region                0.000000
customer_age          2.110667
customer_gender       0.000000
device                0.000000
session_duration      0.000000
coupon_used         100.000000
browser               0.000000
referral_source       0.000000
conversion_str        0.000000
dtype: float64

### se ha comprobado que los nulos de payment, shipment y coupon son debidos a que no se ha realizado comora ###

In [78]:
df['payment_method']  = df.loc[df['conversion'] == 0, 'payment_method'].fillna('no_conversion')
df['shipping_method'] = df.loc[df['conversion'] == 0, 'shipping_method'].fillna('no_conversion')
df['coupon_used'] = df.loc[df['conversion'] == 0, 'coupon_used'].fillna('no_conversion')
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
1198,1199,b,2022-01-18,0,books,1589,science_fiction,0,"49,0","0,01",...,no_conversion,north,27.0,f,tablet,14,no_conversion,chrome,organic,no
1901,1902,a,2022-02-23,0,electronics,1897,smartphone,0,"609,98","0,13",...,no_conversion,central,51.0,f,mobile,11,no_conversion,chrome,email,no
1052,1053,b,2022-02-19,0,books,1016,mystery,0,"18,2","0,17",...,no_conversion,west,19.0,m,mobile,20,no_conversion,chrome,social,no
857,858,a,2022-02-18,0,books,1101,mystery,0,"46,46","0,21",...,no_conversion,west,47.0,f,desktop,22,no_conversion,safari,organic,no
1513,1514,a,2022-03-20,0,beauty,1813,perfume,0,"15,77","0,02",...,no_conversion,east,30.0,f,tablet,22,no_conversion,chrome,social,no

In [73]:
df['payment_method'] = df.loc[df['payment_method'].isnull(), 'payment_method'].fillna('no_conversion')
df.isnull().mean()*100
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,...,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
738,739,a,2022-01-24,0,electronics,1550,laptop,0,"692,49","0,21",...,no_conversion,east,70.0,m,desktop,5,NaN,other,organic,no
562,563,a,2022-01-28,0,books,1353,science_fiction,0,"25,81","0,01",...,no_conversion,south,66.0,m,desktop,9,NaN,firefox,organic,no
961,962,b,2022-02-23,0,electronics,1351,laptop,0,"823,25","0,02",...,no_conversion,east,51.0,f,mobile,13,NaN,chrome,organic,no
395,396,b,2022-03-28,1,electronics,1008,laptop,3,"368,37","0,23",...,NaN,south,50.0,m,mobile,24,no_conversion,other,email,yes
637,638,a,2022-02-11,0,fashion,1104,jeans,0,"114,77","0,13",...,no_conversion,west,19.0,f,desktop,15,NaN,safari,email,no

### nulos numericos ###

In [98]:
df_nulos.describe().T

               count       mean        std   min   25%   50%   75%   max
price            0.0        NaN        NaN   NaN   NaN   NaN   NaN   NaN
customer_age  1960.0  43.156633  15.361675  18.0  30.0  42.0  56.0  70.0

### convertir tipo de campo a float ###

In [97]:
df_nulos['price'] = df_nulos['price'].astype(str).str.replace(',', '.', regex=False)
df_nulos['price'] = df_nulos['price'].replace(r"<class '.*'>", pd.NA, regex=True)
df_nulos['price'] = pd.to_numeric(df_nulos['price'], errors='coerce')

C:\Users\jesus\AppData\Local\Temp\ipykernel_19380\3434806845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nulos['price'] = df_nulos['price'].astype(str).str.replace(',', '.', regex=False)
C:\Users\jesus\AppData\Local\Temp\ipykernel_19380\3434806845.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nulos['price'] = df_nulos['price'].replace(r"<class '.*'>", pd.NA, regex=True)
C:\Users\jesus\AppData\Local\Temp\ipykernel_19380\3434806845.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nulos['price'] = pd.to_numeric(df_nulos['price'], errors='coerce')